.main-header {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  &__logo {
    img {
      max-width: 100%;
    }
  }
  &__info {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    div {
      display: flex;
      align-items: flex-start;
    }
    img {
      display: inline-block;
      margin-right: 15px;
    }
    p {
      margin-bottom: 20px;
      font-family: "Proxima Nova";
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      font-weight: 300;
    }
    b {
      color: #29166f;
      font-weight: 700;
    }
  }
  &__order {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    text-align: right;
    div {
      display: flex;
      align-items: flex-start;
    }
    img {
      display: inline-block;
      margin-right: 15px;
      margin-top: 5px;
    }
    p {
      margin-bottom: 10px;
      color: #282828;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 14px 28px;
    border-radius: 3px;
    background-color: #2c1971;
    color: #fffffe;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: #ffffff;
    }
  }
}

.dropdown-menu_violet {
  padding: 16px 24px !important;
  background-color: #2c1971 !important;
  border-radius: 0 !important;
  li {
    a {
      margin: 0 !important;
      padding: 8px !important;
      color: #fffefe !important;
      background: transparent !important;
      &:hover {
        color: #f9f060 !important;
        background: transparent !important;
      }
    }
  }
}

.home-slider__block {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  float: left;
  max-width: 530px;
  padding: 30px;
  border-radius: 3px;
  background-color: rgba(56, 56, 56, 0.7);
  p {
    margin-bottom: 40px;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
  }
}

.home-slider__title {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 30px;
  font-weight: 300;
}

.home-slider__link {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 3px;
  border: 1px solid #f9f060;
  background-color: rgba(14, 0, 0, 0);
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  transition: all 0.15s ease-out;
  &:hover {
    text-decoration: none;
    background: #f9f060;
    color: #282828;
  }
}

.home-about {
  padding-top: 100px;
  padding-bottom: 70px;
  color: #6d6c6c;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  &__grid {
    display: flex;
    align-items: flex-start;
    p {
      width: 670px;
      margin-right: 40px;
    }
  }
  &__title {
    display: block;
    margin-bottom: 25px;
    text-align: center;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 600;
  }
}

.home-features {
  padding: 100px 60px;
  background: #2c1971;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #f9f060;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 370px;
    margin-bottom: 40px;
    border-radius: 3px;
    border: 1px solid rgba(249, 240, 96, 0.22);
    background-color: #000000;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      .home-features__card-title {
        background-color: #f9f060;
        color: #372578;
      }
    }
    img {
      display: block;
      border-radius: 3px 3px 0 0;
      width: 100%;
      height: 130px;
      object-fit: cover;
    }
  }
  &__card-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 0 0 3px 3px;
    background-color: #2c1971;
    color: #f9f060;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
  }
}

.home-seo {
  padding: 100px 0;
  color: #505050;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  p {
    max-width: 870px;
    margin-bottom: 25px;
  }
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  &__warn {
    max-width: 870px;
    margin-bottom: 20px;
    padding: 20px 75px 20px 35px;
    border-radius: 3px;
    border: 1px solid #f9f060;
    background-color: rgba(249, 240, 96, 0.25);
    color: #505050;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
  }
  &__prep {
    display: block;
    max-width: 870px;
    margin: 0 auto 55px;
    text-align: center;
    color: #505050;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto 60px;
  }
  blockquote {
    max-width: 870px;
    border: none;
    position: relative;
    margin: 50px 0;
    padding: 0;
    padding-left: 70px;
    color: #010101;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 35px;
      height: 30px;
      content: '';
      background: url('../images/icon_quote.png') no-repeat center;
      background-size: contain;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  color: #282828;
  font-family: "Proxima Nova";
  font-weight: 700;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.home-news {
  background-color: #f6f6f6;
  padding: 100px 0;
  &__title {
    display: block;
    margin-bottom: 50px;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    width: 270px;
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    transition: all 0.15s ease-out;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 270px;
      height: 120px;
      border-radius: 2px;
      content: '';
      background: rgba(44, 25, 113, 0.8);
      opacity: 0;
      transition: all 0.15s ease-out;
    }
    &:hover {
      text-decoration: none;
      .home-news__card-title {
        color: #2c1971;
      }
      &:before {
        opacity: 1;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 120px;
      object-fit: cover;
      margin-bottom: 12px;
      border-radius: 2px;
      transition: all 0.15s ease-out;
    }
  }
  &__card-title {
    display: block;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
  }
}

.home-contact {
  padding: 100px 0;
  background: url('../images/pre_footer_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #f9f060;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  &__prep {
    margin-bottom: 60px;
    text-align: center;
    color: #fefefe;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
  }
  &__form {
    display: flex;
    margin: 0 auto;
    max-width: 850px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
     ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fefefe;
    }
     ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fefefe;
    }
     :-ms-input-placeholder {
      /* IE 10+ */
      color: #fefefe;
    }
     :-moz-placeholder {
      /* Firefox 18- */
      color: #fefefe;
    }
    input {
      flex: 1 1 auto;
      max-width: 250px;
      padding: 20px 0;
      border: none;
      background: transparent;
      outline: none;
      box-shadow: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.28);
      color: #fefefe;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:focus {
        border-bottom-color: #f9f060;
      }
    }
    button {
      padding: 19px 90px;
      border: none;
      outline: none;
      border-radius: 3px;
      border: 1px solid #f9f060;
      background-color: rgba(249, 240, 96, 0);
      color: #f9f060;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover {
        background: #f9f060;
        color: #282828;
      }
    }
  }
}

.main-footer {
  padding: 25px 0 45px 0;
  background-color: #180853;
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    li {
      a {
        display: inline-block;
        padding: 20px;
        color: rgba(255, 255, 255, 0.5);
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all 0.15s ease-out;
        &:hover {
          text-decoration: none;
          color: #f6f6f6;
        }
      }
    }
  }
  &__copyright {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.2);
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.main-breadcrumps {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 12px;
  padding: 8px 24px;
  border-radius: 3px;
  background-color: rgba(239, 239, 239, 0.4);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  a {
    color: #282828;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #2c1971;
    }
  }
  span {
    display: inline-block;
    margin: 0 10px;
    color: #2c1971;
  }
  p {
    display: inline-block;
    margin: 0;
    color: #282828;
  }
}

.features-block {
  padding: 50px 0 0 0;
  &__title {
    display: block;
    margin-bottom: 45px;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 370px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid rgba(249, 240, 96, 0.22);
    background-color: #000000;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      .features-block__card-title {
        background-color: #f9f060;
        color: #372578;
      }
    }
    img {
      display: block;
      border-radius: 3px 3px 0 0;
      width: 100%;
      height: 130px;
      object-fit: cover;
    }
  }
  &__card-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 0 0 3px 3px;
    background-color: #2c1971;
    color: #f9f060;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
  }
}

.stock-block {
  padding: 50px 0 100px;
  color: #505050;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  &__title {
    margin-bottom: 50px;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto 40px;
    max-width: 100%;
  }
  p {
    display: block;
    margin: 0 auto 20px;
    max-width: 870px;
  }
}

.reviews-block {
  padding: 50px 0 100px;
  &__title {
    display: block;
    margin-bottom: 70px;
    text-align: center;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 40px 70px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    color: #505050;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
  &__card-author {
    display: block;
    margin-bottom: 20px;
    color: #505050;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 700;
  }
  &__card-text {
    color: #505050;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
}

.all-stock {
  padding: 50px 0 100px;
  &__title {
    display: block;
    margin-bottom: 65px;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    width: 540px;
    margin: 0 30px 30px 0;
    padding: 20px;
    box-shadow: 0 8px 21px rgba(201, 199, 199, 0.73);
    border-radius: 3px;
    background-color: #ffffff;
  }
  &__card-img {
    display: inline-flex;
    flex: 0 0 210px;
    margin-right: 30px;
    border-radius: 3px;
    img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      background-color: #efefef;
    }
  }
  &__card-text {
    display: inline-flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-family: "Proxima Nova";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #6d6d6d;
    p {
      a {
        color: #2c1971;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &__card-title {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #2c1971;
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 600;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #282828;
    }
  }
}

.price-block {
  padding: 50px 0 80px;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #282828;
    font-family: "Proxima Nova";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  .table {
    max-width: 900px;
    margin: 0 auto 40px;
    background: #ffffff;
    box-shadow: 0 17px 51px rgba(184, 184, 184, 0.54);
  }
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    padding: 12px 50px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
  .table_td-light {
    background-color: #fafafa;
  }
  .table_left-border-light {
    border-left: 1px solid #ffffff;
  }
  thead {
    border-radius: 3px 3px 0 0;
    background-color: #2c1971;
    tr {
      border-radius: 3px 3px 0 0;
    }
  }
  .table>thead>tr>th {
    border-bottom: none;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
  }
  .table-hover>tbody>tr:hover {
    background-color: rgba(249, 240, 96, 0.2) !important;
  }
}