.container:before {
  display: none;
  content: none;
}

.container:after {
  display: none;
  content: none;
}

.row:before {
  display: none;
  content: none;
}

.row:after {
  display: none;
  content: none;
}

.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;
}

.owl-theme .owl-controls {
  width: 100%;
  position: absolute;
  top: 45%;
}

.owl-buttons {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  justify-content: space-between;
  align-items: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.navbar-default {
  border: none;
  border-radius: 3px 3px 0 0;
  background-color: #efefef;
}

.navbar-nav {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.navbar-default .navbar-nav>li>a {
  padding: 25px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #282828;
  transition: all 0.15s ease-out;
  &:hover {
    color: #422c92;
    text-decoration: none;
  }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: transparent;
  color: #422c92 !important;
}

.dropdown-menu {
  min-width: 230px;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  background: transparent;
}

.dropdown-menu>li>a {
  margin-bottom: 1px;
  padding: 14px 24px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  background-color: #e2e2e2;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background-color: #2c1971;
  color: #f9f060;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.carousel-control.left {
  width: 60px;
  left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.carousel-control.right {
  width: 60px;
  right: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.navbar {
  margin: 0;
}

.carousel-caption {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 60px 40px;
}