@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .navbar-nav {
    flex-flow: column nowrap;
    align-items: center;
  }
  .navbar-default .navbar-nav>li>a {
    padding: 10px;
  }
  .main-header__order {
    align-items: flex-start;
    text-align: left;
  }
  .main-header__logo {
    margin-bottom: 10px;
  }
  .carousel-inner>.item>a>img,
  .carousel-inner>.item>img,
  .img-responsive,
  .thumbnail a>img,
  .thumbnail>img {
    height: 300px;
    object-fit: cover;
  }
  .carousel-caption {
    padding: 10px;
  }
  .home-slider__block {
    padding: 10px;
  }
  .home-slider__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .home-about {
    padding: 20px 0;
  }
  .home-features {
    padding: 20px 0;
  }
  .home-seo {
    padding: 20px 0;
  }
  .home-news {
    padding: 20px 0;
  }
  .home-news__cards {
    justify-content: space-around;
  }
  .home-news__card {
    margin-bottom: 20px;
  }
  .home-contact {
    padding: 20px 0;
  }
  .home-contact__form {
    flex-flow: column nowrap;
    align-items: center;
    input {
      margin-bottom: 10px;
    }
  }
  .main-footer {
    padding: 20px 0;
  }
  .main-footer__nav {
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
  }
  .main-footer__nav li a {
    padding: 10px;
  }
  .carousel-control.left {
    left: 0;
  }
  .carousel-control.right {
    right: 0;
  }
  .features-block__cards {
    justify-content: space-around;
  }
  .features-block {
    padding: 20px 0;
  }
  .stock-block {
    padding: 20px 0;
  }
  .reviews-block__title {
    margin-bottom: 20px;
  }
  .reviews-block {
    padding: 20px 0;
  }
  .reviews-block__card {
    padding: 20px;
  }
  .home-seo__warn {
    padding: 20px;
  }
  .all-stock__card {
    flex-flow: row wrap;
  }
  .all-stock__card-img {
    margin: 0 0 10px 0;
  }
  .all-stock {
    padding: 20px 0;
  }
  .all-stock__title {
    margin-bottom: 20px;
  }
  .price-block {
    padding: 20px 0;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}