// bower:scss
// endbower
body {
  background: url('../images/page_bg_sm.png') no-repeat top;
  background-size: 100% auto;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  color: #161616;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url('../fonts/ProximaNovaSemibold.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/ProximaNovaBold.otf');
}

@import "_atoms.scss";
@import "_restyle.scss";
@import "_responsive.scss";